@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

/*$primary: #ff0000;
$secondary: #ff0000;
$success: #ff0000;
$info: #ff0000;
$warning: #ff0000;
$danger: #ff0000;*/

$custom-colors: (
  "custom-color": #ff0000,
  "indigo": #ff0000,
  "rose": #ff0000
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$theme-colors: map-merge($theme-colors, ("primary": #DB644B,
      "secondary" :#3B2E2E,
      "success":#DB644B,
      "info": #5D5050,
      "warning": #5D5050,
      "danger": #5D5050));


@import "../node_modules/bootstrap/scss/bootstrap";

@import 'base/reset';

@import 'components/baner';
@import 'components/barra_lateral';
@import 'components/buscador';
@import 'components/iconos';
@import 'components/menu';
@import 'components/reproductor';

@import 'layout/main';
@import 'layout/footer';
@import 'layout/carrusel';

@import 'pages/albunes';
@import 'pages/contacto';

@import 'helpers/loader';

@import 'responsive/responsive';