/* ======== ESTILOS GLOBALES ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D9D9D9;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: #453939;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.hiden {
  display: none !important;
}

/* ======== MENÚ DESPLEGABLE ======== */
#desplegable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
}

#desplegable div {
  width: 35px;
  height: 4px;
  background-color: #DB644B;
  border-radius: 4px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
}

/* ======== BUSCADOR ======== */
/*#buscador {
  display: block;
  margin: 40px auto 20px;
  width: 60%;
  max-width: 500px;
  height: 40px;
  background-color: #5D5050;
  border: none;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  outline: none;
  border-radius: 6px;
}

#buscador::placeholder {
  color: #ccc;
}*/

#buscador {

  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 100px;
  z-index: 5;

  margin: 40px auto 20px;
  width: 60%;
  max-width: 500px;
  height: 40px;
  background-color: #5D5050;
  border: none;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  outline: none;
  border-radius: 6px;

}


/* ======== BARRA LATERAL ======== */
#barra_lateral {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;
  background-color: #DB644B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#barra_lateral img {
  width: 100px;
  margin-bottom: 20px;
  cursor: pointer;
}

#barra_lateral div {
  width: 100%;
  text-align: center;
  padding: 12px 0;

  margin: 5px 0;
  transition: background-color 0.3s;
}

#barra_lateral div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#barra_lateral a {
  display: block;
  font-size: 1.1em;
  font-weight: 600;
  width: 100%;
}


/* ======== SECCIONES GENERALES ======== */
main {
  padding-top: 80px;
}

#texto_inicio {
  text-align: center;
  margin-top: 40px;


}

#texto_inicio h1 {
  font-size: 60px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

#album_grande {
  background-color: #3B2E2E;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
  margin: 20px;
  cursor:pointer;
}

#album_grande:hover {

  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

}

#album_grande img {
  width: 250px;
  margin-bottom: 10px;
}

#album_grande p {
  font-size: 22px;
  margin: 5px;
  color: #FFBBAA;
}

/* ======== SECCIÓN ALBUMES ======== */
#albunes,
#albunes2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}


.album,
.album2 {
  background-color: #3B2E2E;
  text-align: center;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor:pointer;
}

.album img,
.album2 img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 6px;
}

.album:hover,
.album2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.album p,
.album2 p {
  font-size: 16px;
  margin-bottom: 5px;
}

.precio {
  font-size: 18px;
  color: #FFD966;
  font-weight: bold;
}

/* ======== BANER ======== */

#baner {

  background-color: #DB644B;

  display: flex;


  align-items: center;

  text-align: center;

  justify-content: center;

  margin-top: 10px;
  margin-bottom: 10px;

}

#baner img {

  margin: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

}

/* ======== ICONOS ======== */

#grupo_iconos {

  display: flex;

  align-items: center;

  text-align: center;

  justify-content: center;

  flex-direction: row;
}

#icono {
  margin-top: 25px;
  margin-left: 40px;
  margin-left: 40px;
  margin-bottom: 0px;

}

/* ======== CONTACTO ======== */
form {
  background-color: #5D5050;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  background-color: #453939;
  border: 2px solid #DB644B;
  border-radius: 6px;
  color: #D9D9D9;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #DB644B;
  border: none;
  /*border-radius: 6px;*/
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s;
}

button:hover {
  background-color: #e97b61;
}

/* ======== FOOTER ======== */
footer {
  background-color: #5D5050;
  margin-top: 40px;
  padding: 40px 0;
}

/* ======== REPRODUCTOR ======== */
#disco_grande {
  width: 60%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

#range,
#controles {
  display: block;
  margin: 20px auto;
}

/* ======== CARRUSEL ======== */
.carrusel {
  position: relative;
  width: 100%;
  /*max-width: 900px;*/
  height: 500px;
  overflow: hidden;
}

.carrusel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .7s ease-in-out;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item.activo {
  opacity: 1;

}

/*======== LOADER ========*/


.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 5px solid #FFF;
  border-top-color: #FF3D00;
  animation: spin 1s linear infinite;
  margin: 50px auto; /* centrado horizontal */
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}


/* ======== RESPONSIVE ======== */
@media (max-width: 1024px) {
  #texto_inicio h1 {
    font-size: 45px;
  }

  #album_grande img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  #barra_lateral {
    width: 180px;
  }

  #texto_inicio h1 {
    font-size: 36px;
  }

  #album_grande img {
    width: 160px;
  }

  #buscador {
    width: 80%;
  }

  .album,
  .album2 {
    width: 160px;
  }
}

@media (max-width: 480px) {
  #desplegable {
    padding: 15px;
  }

  #buscador {
    width: 90%;
    height: 35px;
  }

  #texto_inicio h1 {
    font-size: 28px;
  }

  #album_grande img {
    width: 130px;
  }

  .album,
  .album2 {
    width: 140px;
  }
}