* {

    color: #D9D9D9;

}

.hiden {

    display: none;

}

#desplegable {

    display: flex;

    flex-direction: column;

    gap: 10px;

    padding: 25px;

}

#desplegable div {

    width: 100px;
    height: 5px;

    background-color: #DB644B;

}

#barra_lateral {

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    z-index: 10;
}

#barra_lateral img {

    width: 100%;

}

#barra_lateral div {

    background-color: #DB644B;

    height: 10%;

    width: 100%;

    text-align: center;

    display: flex;

    align-items: center;



}

body {

    background-color: #453939;

}

aside {

    background-color: #D9D9D9;


}


#barra_lateral a {


    width: 100%;

    font-size: larger;



}

#albunes {

    display: flex;

    flex-direction: row;

    justify-content: space-between;

}

.album {

    margin: 0.1%;



}


.album img {


    width: 224px;
    height: auto;

    margin: 1%;

}

.album p {

    margin: 5px;



}



#buscador {

    position: fixed;
    top: 40px;
    left: 450px;
    background-color: #5D5050;

    width: 400px;
    height: 20px;

}


footer {

    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 300px;
    justify-content: space-between;

    background-color: #5D5050;

}

#range {

    position: fixed;

    top: 700px;
    left: 50%;
    left: 50%;
    width: 700px;

    transform: translateX(-50%);

}

#disco_grande {

    height: 120%;
    width: auto;

}

#sub_titulo {

    position: fixed;
    top: 715px;
    left: 50%;

    transform: translateX(-50%);

}

#titulo {


    position: fixed;
    top: 740px;
    left: 37%;
    transform: translateX(-50%);


}

#carrito {

    position: fixed;
    width: 5%;
    height: auto;

    left: 1100px;
    top: 765px;

}

#precio {

    position: fixed;
    left: 1220px;
    top: 765px;

}

#controles {

    position: fixed;
    left: 50%;
    top: 645px;
    width: 10%;
    height: auto;
     transform: translateX(-50%);

}


.inria-sans-light {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inria-sans-bold {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inria-sans-light-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.inria-sans-regular-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.inria-sans-bold-italic {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}