/* ======== CONTACTO ======== */
form {
  background-color: #5D5050;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  background-color: #453939;
  border: 2px solid #DB644B;
  border-radius: 6px;
  color: #D9D9D9;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #DB644B;
  border: none;
  /*border-radius: 6px;*/
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s;
}

button:hover {
  background-color: #e97b61;
}