/* ======== CARRUSEL ======== */
.carrusel {
  position: relative;
  width: 100%;
  /*max-width: 900px;*/
  height: 500px;
  overflow: hidden;
}

.carrusel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .7s ease-in-out;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item.activo {
  opacity: 1;

}
