/* ======== BANER ======== */

#baner {

  background-color: #DB644B;

  display: flex;


  align-items: center;

  text-align: center;

  justify-content: center;

  margin-top: 10px;
  margin-bottom: 10px;

}

#baner img {

  margin: 10px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

}
