/* ======== ICONOS ======== */

#grupo_iconos {

  display: flex;

  align-items: center;

  text-align: center;

  justify-content: center;

  flex-direction: row;
}

#icono {
  margin-top: 25px;
  margin-left: 40px;
  margin-left: 40px;
  margin-bottom: 0px;

}