/* ======== ESTILOS GLOBALES ======== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #D9D9D9;
}

body {
  font-family: "Inria Sans", sans-serif;
  background-color: #453939;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.hiden {
  display: none !important;
}